@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Share+Tech+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary: 'Rock Salt', cursive;
    --ff-secondary:'Share Tech Mono', monospace;

    --fw-reg: 600;
    --fw-bold: 900;

    --clr-light: rgb(247, 239, 239);
    --clr-dark: #303030;
    --clr-accent: #610101; 

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em var(--clr-dark),
        0.125em 0.124em 0.25em rgb(19, 1, 1);
    --ts: 
        0.25em 0.25em 0.75em var(--clr-accent),
        0.075em 0.075em 0.1em rgb(19, 1, 1);
}

@media (max-width: 768px){
    :root {
        --fs-h1: 1.8rem;
        --fs-h2: 1.5rem;
        --fs-h3: 1rem;
        --fs-body: 0.75rem;
    }
}

@media (max-width: 425px){
    :root {
        --fs-h1: 1.2rem;
        --fs-h2: 1rem;
        --fs-h3: 0.85rem;
        --fs-body: 0.75rem;
    }
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(200, 10, 50);
    background-image: url("imgs/basement.jpg");
    animation: flicker 10000ms cubic-bezier(0.895, 0.03, 0.685, 0.22) 1;
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes flicker {
    0% {
        background-blend-mode: color-burn;
    }
    99% {
        background-blend-mode: lighten;
        background-image: url("imgs/clown.jpg");
    }
    100% {
        background-blend-mode: color-burn;
    }

}

.game {
    height: 70vh;
    width: 92vw;
    opacity: 0.8;
    background-image: url("imgs/sta.gif");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--fs-h3);
    border-radius: 1em;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    text-shadow: var(--ts);
    box-shadow: var(--bs);
}

#user_input {
    font-size: var(--fs-h3);
    position: relative;
    width: 80%;
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    box-shadow: var(--bs);
    color: var(--clr-dark);
    padding: 0 2em;
    text-align: center;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(200, 10, 50) }
  }

.submitBtn {
    padding: 0 1em;
    font-size: var(--fs-body);
    font-family: var(--ff-secondary);
    box-shadow: var(--bs);
    transition: all 250ms ease-in;
    cursor: pointer;
}

.submitBtn:hover {
    box-shadow: var(--ts);
    transform: scale(1.1);
}

.help {
    position: absolute;
    top: 50px;
    left: -500px;
    width: 434px;
    height: 608px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    z-index: 100;
    background: url("imgs/stainedPaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(13, 25, 59);
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    box-shadow: var(--bs);
    font-size: var(--fs-body);
}

.showHelp {
    animation: slideIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
}

@keyframes slideIn {
    from {
        left: -500px;
    }
    to {
        left: 10px;
    }
}

.cmdListTitle {
    font-size: var(--fs-h2);
}